In [55]:
import pandas as pd

In [56]:
pd.__version__

'2.2.3'

In [57]:
dict_medidas = {
  "idade" : [15, 18, 25, 25, 40, 55, 58, 60, 80],
  "altura" : [160, 162, 165, 168,172,174,174, 174, 176]
}

In [58]:
dict_medidas

{'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80],
 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [59]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)

In [68]:
df_medidas

   idade  altura
0     15     160
1     18     162
2     25     165
3     25     168
4     40     172
5     55     174
6     58     174
7     60     174
8     80     176

## Medidas Resumo

### Medidas de Posição

In [61]:
# media

df_medidas["idade"].mean() # media

np.float64(41.77777777777778)

In [62]:
# mediana

df_medidas['idade'].median() # mediana

np.float64(40.0)

In [63]:
# moda 

df_medidas['idade'].mode()

0    25
Name: idade, dtype: int64

In [64]:
# moda 

df_medidas['altura'].mode() # moda

0    174
Name: altura, dtype: int64

### Medidas de Dispersão

In [65]:
# variância

df_medidas.idade.var() # variança

np.float64(509.94444444444446)

In [66]:
# desvio padrao

df_medidas.idade.std() # standard deviation

np.float64(22.58194952709895)

In [ ]:
# Coeficiente de variação - Idade

df_medidas.idade.std() / df_medidas.idade.mean() * 100 # Coeficiente de variação

np.float64(54.05253876167302)

In [72]:
# Coeficiente de variação - Altura

df_medidas.altura.std() / df_medidas.altura.mean() * 100 # Coeficiente de variação

np.float64(3.4803552812368785)

### Medidas de Forma

In [73]:
# Assimetria - Idade

df_medidas.idade.skew() # skewness / assimetria

np.float64(0.368108517895537)

In [75]:
# Assimetria - Altura

df_medidas.altura.skew() # skewness / assimetria

np.float64(-0.598486996170113)

In [78]:
# Curtose - Idade

df_medidas.idade.kurtosis() # kurtosis / curtose

np.float64(-1.1344461075421046)

In [80]:
# Curotose - Altura

df_medidas.altura.kurtosis() # kurtosis / curtose

np.float64(-1.3372641199913002)

In [82]:
# Obter medidas estatísticas

df_medidas.idade.describe() # Obter medidas estatísticas

count     9.000000
mean     41.777778
std      22.581950
min      15.000000
25%      25.000000
50%      40.000000
75%      58.000000
max      80.000000
Name: idade, dtype: float64

### Correlação de Variáveis

In [85]:
# Correlação do DataFrame

df_medidas.corr(method='pearson')

           idade    altura
idade   1.000000  0.931024
altura  0.931024  1.000000

In [ ]:
# Correlação entre as variáveis

df_medidas.idade.corr(df_medidas.altura, method='pearson') # Correlação entre as variáveis

np.float64(0.9310236045054339)

In [88]:
# Correlação do DataFrame, segundo Spearman

df_medidas.corr(method='spearman')

           idade    altura
idade   1.000000  0.978803
altura  0.978803  1.000000